.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
h3 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
}
p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.playBtn
{
  text-align: center;
}
.playBtn button
{
  padding: 13px;
  border-radius: 5px;
  background-color: darkgrey;
  font-size: 18px;
  width: 100px;
  margin-top: 30px;
  border: none;
  
}
.playBtn button:active
{
  transform: scale(0.95);
  
}
.playBtn button:focus
{
  outline: none;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
